# Database URLs for Neon PostgreSQL
DATABASE_URL="your_database_url_here"
DIRECT_URL="your_direct_url_here"

# NextAuth Secret
NEXTAUTH_SECRET="your_secret_key_here"
NEXTAUTH_URL="http://localhost:3000"
